<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<body>
	<script>
		//Load the google charts packages that is used
		//google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});
		google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});

		//Requirejs is setup
		requirejs.config({ baseUrl: './javascripts/' });

		//In this function our javascripts are accesable and instanses of the included objects can be created
		requirejs(['table', 'graph', 'map'], function (Table, Graph, Map) {
			//Stores data sent from Node.js into smhidata
			var smhidata = <%-JSON.stringify(dataobject)%>;

			//Creates objects for the components
			var _table = new Table();
			var _graph = new Graph(smhidata);
			var _map = new Map();
			var slider = new Slider('#bootslide', {});

			//Inits the objects to create the components
			_table.initTable(smhidata);
			_graph.initGraph(smhidata);
			_graph.drawGraph();
			_map.initMap(smhidata);

			//This code implements livesearch for the Stad textfield
			var input = document.getElementById('CitySearch');
			var options = {};
			new google.maps.places.Autocomplete(input, options);

			slider.on("slideStop", function(slideEvt) {
				var sliderValues = slider.getValue();

				_graph.updateTime(sliderValues);

				console.log(sliderValues);
			});

			//This function runs when the Sök button is clicked
			document.getElementById("SearchBtn").onclick = function(){
				var AdresFalt = $("#CitySearch") ;
				$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
					_map.updateMap(data);
				})
			};

			//This function runs when the Stad textfield is highlighted and a key is pressed
			$("#CitySearch").keypress(function(e){
				//If the pressed button is enter
				if(e.which == 13){
					var AdresFalt = $("#CitySearch") ;
					$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
						_map.updateMap(data);
					})
				}
			});
		})

        $( document ).ready(function() {
            /**
             * For toggling the sidebar
             */
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });

	</script>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3><%= location %> | <%= time %></h3>
                </li>
                <li>
                    <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Stad" id="CitySearch">
                        <button id="SearchBtn" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid pageBody">
                <button type="button" class="btn btn-primary" href="#menu-toggle" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
                <!-- /#sidebar-wrapper -->
                <div class="row"> <!-- OUTER DIVS -->
                    <div class="col-md-6">
                        <div class="pageElement">
                            <div id="map" class="map"></div>
                             <b>1</b>
                             <input id="bootslide" type="text" class="span2" value=""
                                                 data-slider-min="1"
                                                 data-slider-max="29"
                                                 data-slider-step="1"
                                                 data-slider-tooltip_split="true"
                                                 data-slider-value="[0,29]"/>
                             <b>30</b>
                        </div>
                    </div>
                    <div class="col-md-6"> <!-- GRAPH AND TABLE -->
                        <div class ="row"> <!-- GRAPH -->
                            <div id="graph_div" class="graph pageElement"></div>
                        </div>
                        <div class ="row"> <!-- TABLE -->
                            <div id="table_div" class="table pageElement"></div>
                        </div>
                    </div> <!-- GRAPH AND TABLE -->
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</body>
</html>