<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<body>
    <!-- Loading script -->
    <script type="text/javascript">
    $(window).load(function() {
        setTimeout(function(){
            $(".loader").fadeOut("slow");
        }, 2000);
    })
    </script>
	<script>

		//Requirejs is setup
		requirejs.config({ baseUrl: './javascripts/' });

        var _graph;
        var _table;
        var _slider;
        var smhidata;

        var d = new Date(); // The time right now

        var user = {
                gpsLocation:[0,0],
                location: 10,
                weather:"t",
                time:d.getHours(),
                date:[]
            };
		//In this function our javascripts are accesable and instanses of the included objects can be created
		requirejs(['table', 'graph', 'map', 'slide'], function (Table, Graph, Map, Slide) {
			//Stores data sent from Node.js into smhidata
			smhidata = <%-JSON.stringify(dataobject)%>;
            console.log(smhidata);

			//Creates objects for the components
            _table = new Table(smhidata);
			_graph = new Graph(smhidata);
			_map = new Map(smhidata, user);
            _slider = new Slide(smhidata);

            _graph.initGraph(smhidata, user.location, user.weather, user.time);
			_map.initMap(user);
            _slider.initSlider(user.date);


            $( document ).ready(function() {
                /**
                 * Draws the table
                 */

                $("td.toggleable").click(function(){
                    $("td").removeClass("activeCell");
                    $(this).addClass("activeCell");
                });
                /**
                 * For toggling the sidebar
                 */
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
                $( "td.location" ).on("click", function() {
                    _table.changeCurrentLocation($(this));
                });            
            });

            initApp(user.location, user.weather, user.time);

            //Autocomplete for the Searchbar
            var input = document.getElementById('CitySearch');
            var awesomplete = new Awesomplete(input, {
                minChars: 1,
                maxItems: 5,
                autoFirst: true,
                filter: Awesomplete.FILTER_STARTSWITH
            });

            //Saving the name of the cities in an array
            var list = [];
                for(i=0; i<smhidata.length; i++) {

                list[i] = smhidata[i].name;
            }

            awesomplete.list = list;

            //This function runs when the Sök button is clicked
            document.getElementById("SearchBtn").onclick = function(){
                var AdresFalt = $("#CitySearch");

                for(var i=0; i<smhidata.length; i++){
                    if(AdresFalt.val() == smhidata[i].name) {
                        updateLocation(i,'t',0);
                    }
                }   

                //remove popup
                var element = document.getElementById('popup');
                $(element).popover('destroy');
            }; 
		});

        function runScript(e) {
            if (e.keyCode == 13) {
                var tb = document.getElementById("searchText");
                var AdresFalt = $("#CitySearch");
                for(var i=0; i<smhidata.length; i++){
                    if(AdresFalt.val() == smhidata[i].name) {
                            
                        updateLocation(i,'t',d.getHours());
                    }
                }    
                //remove popup
                var element = document.getElementById('popup');
                $(element).popover('destroy');  

            return false;
            }
        }

        $(window).resize(function() {
            if( $(window).width() < 767 ) {
                $("#searchForm").appendTo("#sideBar");
            }
            else {
                $("#searchForm").appendTo("#topBar");
                $("#wrapper").removeClass("toggled");
            }
        });


	</script>
    <div class="loader">
        <div class="container">
            <h1> Oklart.se</h1>
            <!-- <img src='../images/cloud_loading.gif' alt="Loading..." style="50% 50% no-repeat;"> -->
            <div class="cssload-loader-inner">
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap"></div>
            </div>
        </div>
        </div>
    </div>


    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span href="#menu-toggle" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                 <img src="images/logo22.png" class="navbar-left" style="padding-left: 50px; height: 50px; z-index: -1">

                <div class="navbar navbar-nav navbar-center">
                    <h4 class='l_header'></h4>
                </div>
                <div class="navbar navbar-nav navbar-center">
                    <h4 class='t_header'>14:00</h4>
                </div>

                <form class="navbar-form navbar-right" id="topBar" role="search">  
                    <div class="form-group" id="searchForm">  
                        <input type="text" class="form-control" placeholder="" id="CitySearch" onkeypress="return runScript(event)"/>
                        <button id="SearchBtn" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>    
                </form>  
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3 class='l_header'></h3>
                </li>
                <li>
                   <form class="navbar-form navbar-side" id="sideBar" role="search">
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Stad" id="CitySearch">-->
                            <!--<button id="SearchBtn" type="button" class="btn btn-success">-->
                                <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                     </form>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- /#sidebar-wrapper -->
                <div class="row"> <!-- OUTER DIVS -->
                    <div class="col-md-8"> <!-- GRAPH AND TABLE -->
                        <div class ="row"> <!-- GRAPH -->
                            <div id="graph_div" class="graph pageElement"></div>
                        </div>
                        <div class ="row"> <!-- TABLE -->
                            <div id="table_div table-responsive" class="table pageElement">
                                <table class="table tableHead">
                                    <tr>
                                        <th class="header" style="width:20%" id="tableLocation">Ort</th>
                                        <th class="header" style="width:20%">Väder</th>
                                        <th class="header" style="width:20%" id="t_header">Temperatur</th>
                                        <th class="header" style="width:20%" id="gust_header">Byvind</th>
                                        <th class="header" style="width:20%" id="pit_header">Nederbörd</th>
                                        <th class="header" style="width:3px"></th>
                                    </tr>
                                </table>
                                <hr style="margin-top:0; margin-bottom:0;">
                                <div class="tableBody">
                                    <table class="table tableBody">
                                        <tbody id="tableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- GRAPH AND TABLE -->

                    <div class="col-md-4">
                        <div class="pageElement">
                            <div id="map" class="map"><div id="popup"></div></div>
                            <div class="row">
                                <div class="col-xs-1">
                                    <button class="btn btn-primary slideButton icon ion-play"  id="slidePlayBtn"></button>
                                    <button class="btn btn-primary slideButton icon ion-pause" id="slidePauseBtn" style="visibility:hidden"></button>
                                </div>
                                
                                <div class = "col-xs-11">
                                     <input id="bootslide" type="text" class="slider"
                                             data-slider-min="0"
                                             data-slider-max="23"
                                             data-slider-step="1"
                                             data-slider-value="1"
                                             data-slider-handle="square"
                                             data-slider-tooltip="hide"
                                             data-slider-tooltip-position="bottom"
                                      />
                                </div>
                            </div>
                            <div id="timeOutput" style="display:inline-block;width:50px;">
                                <output id="dag"></output>
                            </div>
                            <div id="timeOutput" style="display:inline-block;width:50px;">
                                <output id="tid"></output>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</body>
</html>