<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<body>
	<script>
		//Load the google charts packages that is used
		//google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});
		google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});

		//Requirejs is setup
		requirejs.config({ baseUrl: './javascripts/' });

		//In this function our javascripts are accesable and instanses of the included objects can be created
		requirejs(['table', 'graph', 'map'], function (Table, Graph, Map) {
			//Stores data sent from Node.js into smhidata
			var smhidata = <%-JSON.stringify(dataobject)%>;

			//Creates objects for the components
			var _table = new Table();
			var _graph = new Graph(smhidata);
			var _map = new Map();
			var slider = new Slider('#bootslide', {});

			//Inits the objects to create the components
			_table.initTable(smhidata);
			_graph.initGraph(smhidata);
			_map.initMap(smhidata);

			//This code implements livesearch for the Stad textfield
			var input = document.getElementById('CitySearch');
			var options = {};
			new google.maps.places.Autocomplete(input, options);

			slider.on("slide", function(slideEvt) {
				var sliderValues = slider.getValue();

				_graph.updateTime(sliderValues);

				console.log(sliderValues);
			});

			//This function runs when the Sök button is clicked
			document.getElementById("SearchBtn").onclick = function(){
				var AdresFalt = $("#CitySearch") ;
				$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
					_map.updateMap(data);
				})
			};

			//This function runs when the Stad textfield is highlighted and a key is pressed
			$("#CitySearch").keypress(function(e){
				//If the pressed button is enter
				if(e.which == 13){
					var AdresFalt = $("#CitySearch") ;
					$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
						_map.updateMap(data);
					})
				}
			});
		})


	$( document ).ready(function() {
		if( $( window ).height() < 568){
			$(".navbar-custom").removeClass("large").addClass("small");
			$("body").css({"padding-top":"40px"});
		}
	});

	$(document).on("scroll",function(){
		if( $( window ).height() >= 568){
			if($(document).scrollTop()>30){ 
				$(".navbar-custom").removeClass("large").addClass("small");
			}
			else{
				$(".navbar-custom").removeClass("small").addClass("large");
			}
		}
	});
	</script>

	<nav class="navbar navbar-custom navbar-fixed-top large">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><img src="images/logoWhite.png" class="brand-img" alt="Brand"></a>
				<p class="navbar-text"><%=location%> | <%=time%></p>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
				<div class="form-group navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Stad" id="CitySearch" >
					<button id="SearchBtn" type="button" class="btn btn-success">Sök</button>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid pageBody">
		<div class="row"> <!-- OUTER DIVS -->
			<div class="col-md-6">
				<div class="pageElement">
					<div id="map" class="map"></div>
					 <b>01:00</b> 
					 <input id="bootslide" type="text" class="span2" value=""
										 data-slider-min="1" 
										 data-slider-max="24" 
										 data-slider-step="1"
										 data-slider-tooltip_split="true" 
										 data-slider-value="[4,6]"/> 
					 <b>24:00</b>
				</div>
			</div>
			<div class="col-md-6"> <!-- GRAPH AND TABLE -->
				<div class ="row"> <!-- GRAPH -->
					<div id="graph_div" class="graph pageElement"></div>
				</div>
				<div class ="row"> <!-- TABLE -->
					<div id="table_div" class="table pageElement"></div>
				</div>
			</div> <!-- GRAPH AND TABLE -->
		</div>	
	</div>
	</div>
	</body>

	</html>