body{
  padding-top:50px;
  background-color: #F5F5F5;
}

.center{
  margin:auto;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  
  background: #4C97D2; 

); 
}


.loader h1{
  padding-top: 15%;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.pac-container{
  background-color: #FFF;
  z-index: 1050; 
  position:relative;

}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.map-buttonDiv{
  height: 97.0%;
  position: absolute;
  top: 0em;
  right: 0em;
  background-color: rgba(0, 0, 0, .5);;

}

#slideBtns{
  padding: 20px;

}


.slideButton{
  position:absolute;
}

.map-controls {
    margin-top: 3.5em;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
}

.myLocationDiv{
  right: .5em;
  bottom: 1.2em;
}

#dateDiv{
  position: relative;
  display: block;
}

/** popup in map */
.popover{
  min-width: 200px;
}

.slide

.ol-full-screen{
    top: 93%;
    right: 94%;
}

.card{
  padding:0;
}


#playButton{
  margin-bottom:-20px;
}

.map-controls button{
    display: block;
    margin: 5px;
    margin-left: .1em;
    padding: 0;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}

.ol-touch .map-controls {
    width: 50%;
    margin: auto; 
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
}

.pageElement{
  width:100%;
  padding:2%;
  margin:auto;
  background-color: #FFF;
  border-width: 5px;
  border-color: #F5f5f5;
  border-style: solid;
}


.map {
  height:74vh;
  margin-bottom:2vh; 
  width:100%;
}

.graph{
  width:100%;
  margin:auto; 
  height:45vh;
}

.slider{
  width:40vw;
  margin-left:20px;
}

#timeOutput{
  margin-top:15px;
}

.sliderAndButton{
  margin:auto;
}

#playButton{
  margin-right: 15px;
}

/* navbar */

.navbar-custom {
  background-color: #4C97D2;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 15px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.l_header{
  font-size: 200%;
}

.t_header{
  font-size: 200%;
}
/* title */
.navbar-custom .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  opacity:0.5;
}
/* link */
.navbar-custom .navbar-nav > li > a {
  color: #777;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
  border-color: #DDD;
}
.navbar-custom .navbar-text {
  color: #f5f5f5;
  font-size: 14pt;
  font-family: 'Dosis', sans-serif;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}

@media (min-width: 767px) {
  .navbar-header{
    visibility: hidden;
    position: fixed;
  }
  .navbar .navbar-nav .navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse .navbar-center {
    text-align: center;
  }

  .navbar h4 {
    margin-top: 15px;
    color:white;
  }
}



.navbar-custom .navbar-brand{
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}

/* Sizes  the bigger menu */
.navbar-custom{
  height: 50px;
}

.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

.cssload-loader-inner {
    bottom: 0;
    height: 58px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 97px;
}

.cssload-cssload-loader-line-wrap-wrap {
    animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 49px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    width: 97px;
}
.cssload-loader-line-wrap {
    border: 4px solid transparent;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 97px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 97px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
    -o-animation-delay: -57.5ms;
    -ms-animation-delay: -57.5ms;
    -webkit-animation-delay: -57.5ms;
    -moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
    -o-animation-delay: -115ms;
    -ms-animation-delay: -115ms;
    -webkit-animation-delay: -115ms;
    -moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
    -o-animation-delay: -172.5ms;
    -ms-animation-delay: -172.5ms;
    -webkit-animation-delay: -172.5ms;
    -moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
    -o-animation-delay: -230ms;
    -ms-animation-delay: -230ms;
    -webkit-animation-delay: -230ms;
    -moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
    -o-animation-delay: -287.5ms;
    -ms-animation-delay: -287.5ms;
    -webkit-animation-delay: -287.5ms;
    -moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
    border-color: rgb(234,71,71);
    height: 88px;
    width: 88px;
    top: 7px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
    border-color: rgb(234,234,71);
    height: 74px;
    width: 74px;
    top: 14px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
    border-color: rgb(71,234,71);
    height: 60px;
    width: 60px;
    top: 20px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
    border-color: rgb(71,234,234);
    height: 47px;
    width: 47px;
    top: 27px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
    border-color: rgb(71,71,234);
    height: 33px;
    width: 33px;
    top: 34px;
}




@keyframes cssload-spin {
    0%, 15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
    0%, 15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
    0%, 15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
    0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
    0%, 15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
