body{
  padding-top:50px;
  background-color: #F5F5F5;
}

.center{
  margin:auto;
}

.pac-container{
  background-color: #FFF;
  z-index: 1050; 
  position:relative;

}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.map-buttonDiv{
  height: 97.0%;
  position: absolute;
  top: 0em;
  right: 0em;
  background-color: rgba(0, 0, 0, .5);;

}

.map-controls {
    margin-top: 3.5em;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;

}

/** popup in map */
.popover{
  min-width: 180px;
}

.ol-full-screen{
    top: 93%;
    right: 94%;
}

.card{
  padding:0;
}


#playButton{
  margin-bottom:-20px;
}

.map-controls button{
    display: block;
    margin: 5px;
    margin-left: .1em;
    padding: 0;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}

.ol-touch .map-controls {
    width: 50%;
    margin: auto; 
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
}

.pageElement{
  width:100%;
  padding:2%;
  margin:auto;
  background-color: #FFF;
  border-width: 5px;
  border-color: #F5f5f5;
  border-style: solid;
}


.map {
  height:80vh;
  margin-bottom:2vh; 
  width:100%;
}

.graph{
  width:100%;
  margin:auto; 
  height:45vh;
}

.slider{
  width:40vw;
  margin:auto;
}

.sliderAndButton{
  margin:auto;
}

#playButton{
  margin-right: 15px;
}

/* navbar */
.navbar-custom {
  background-color: #4C97D2;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 15px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* title */
.navbar-custom .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  opacity:0.5;
}
/* link */
.navbar-custom .navbar-nav > li > a {
  color: #777;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
  border-color: #DDD;
}
.navbar-custom .navbar-text {
  color: #f5f5f5;
  font-size: 14pt;
  font-family: 'Dosis', sans-serif;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}

@media (min-width: 767px) {
  .navbar-header{
    visibility: hidden;
    position: fixed;
  }
  .navbar .navbar-nav .navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse .navbar-center {
    text-align: center;
  }

  .navbar h4 {
    margin-top: 15px;
    color:white;
  }
}



.navbar-custom .navbar-brand{
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}

/* Sizes  the bigger menu */
.navbar-custom{
  height: 50px;
}

.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}
