 .tableHead {
  margin:auto;
 }

 .tableBody {
  margin:auto;
  overflow-y:scroll;
  overflow-x:hide;
  height:35vh;
 }

.currentLocation{
  background-color: #3DDF9E;
}

.activeCell{
  background-color: #bdbdbd;
}

.activeRow{
  background-color: #eeeeee;
}

th, td{
  text-align: center;
}

td.toggleable{
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

td.toggleable:hover {
  background-color: rgba(124,181, 236,0.3);
  cursor: pointer;

}

.minTemp{
  color: blue;
  font-size:8pt;
}

.maxTemp{
  color: red;
  font-size:8pt;
}
