.table {
  margin:auto;
  overflow-y:scroll;
  height:40vh;
 }

.currentLocation{
  background-color: #3DDF9E;
}

.activeCell{
  background-color: #bdbdbd;
}

.activeRow{
  background-color: #eeeeee;
}

#tableBody{
  overflow: auto;
}

th, td{
  text-align: center;
}

td.toggleable{
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

td.toggleable:hover {
  background-color: #7eb6e6;
  cursor: pointer;

}

.minTemp{
  color: blue;
  font-size:8pt;
}

.maxTemp{
  color: red;
  font-size:8pt;
}
