<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon"
          type="image/png"
          href="images/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Oklart</title>

	<!-- Load javascripts from web -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>

    <!-- Load javascripts from Bower-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/awesomplete/awesomplete.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="bower_components/requirejs/require.js"></script>
    <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="bower_components/highcharts/highcharts-more.js"></script>

    <!-- Load javascripts from folder-->
    <script type="text/javascript" src="/javascripts/func.js"></script>

	<!-- Load stylesheets from web-->
	<link type='text/css' rel="stylesheet" href="http://openlayers.org/en/v3.13.1/css/ol.css">
	<link type='text/css' rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:300'>

	<!-- Load stylesheets from Bower-->
	<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='bower_components/Ionicons/css/ionicons.min.css'/>
    <link rel="stylesheet" href='bower_components/awesomplete/awesomplete.css'/>

    <!-- Load stylesheets from folder-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-slider.css'/>
    <link rel='stylesheet' href='/stylesheets/simple-sidebar.css'>
    <link rel='stylesheet' href='/stylesheets/table.css'/>
	<link rel='stylesheet' href='/stylesheets/style.css'/

</head>